<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd">
	  
	   <bean id="demo" class="com.setter.Demo">
	   <property name="x">
	   <value>100</value>
	   </property>
	    
	   <property name="str">
	   <value>spring</value>
	   </property> 
	   
	   <property name="clzA" ref="classA">
	   </property>
	   
	   </bean>
	   <bean id="classA" class="com.setter.ClassA">
	   </bean>
	   </beans>